
/* common code before start css */

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
    list-style-type: none;
    outline: none;

}
html{
    scroll-behavior: smooth;
}
img{
    width: 100%;
    height: auto;
}

.flex-space-around{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* navbar css start */


nav{
    font-family: fantasy;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;

}

.nav-upper{
    min-height: 10vh;
    background-color:rgb(22, 66, 60);
    padding: 10px 0;
    

}

.nav-link:hover{
    text-decoration:overline;
    color:black;
    transition: .3s;

}
.nav-link{
    color: white;
    transition: .3s;


}
.profile-img{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: 1px solid white;
    filter: saturate(1);
    transition: .3s;
}

.profile-img:hover{
    filter: saturate(0);
}

.nav-lower {
  
    background-color: rgb(106, 156, 137);
    padding: 20px 0;
    margin-top: -16px;
    font-weight: 600;
}
/* navbar css end */

/* banner css start here  */

.banner{
    background-image: url(./images/banner.jpg) ;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 80vh;
    margin-top: -16px;
}
.banner-text{
    font-size: 4rem;
    padding: 3rem;
    color: yellow;
}
.banner-item {
    background-color: rgb(107, 221, 107);
    text-align: center;
    height: 9rem;
    width: 16rem;
    border-radius: 10px;
    color: white;
   
}
.banner-card{
    margin-top: 7rem;

}
.card-icon{
    font-size: 3rem !important;
  
}

/* banner css End  here  */


/* sidebar css start here */

.sidebar-left{
    flex: 1;
}
.sidebar-right{
    flex: 3;
}

.sort{
    font-weight: bold;

}
.sort-select{
    border: 1px solid black ;
}
.search{
   font-weight: bold;
   font-size: 1rem;
}
.search-input{
    border: 1px solid black;
}
.src-btn{
    border: 1px solid black;
    padding: 0px 4px;
    margin-left: -5px;
}
.src-btn:hover:hover{
    background-color: rgb(34, 156, 34);
    transition: .3s;
}
/* sidebar css end here */
 
/* card css start here  */

.card-item{
    width: 20rem;
    height: 35rem;
    box-shadow: 2px 2px 10px rgb(83, 80, 80);
}
.card img{
    padding: 2px 3px;
    height: 12rem;
    width: 20rem;
    transform: scale();
}
.card img:hover{
    transform: scale(1.1);
    transition: .3s;

}
.card-green{
    width: 2rem;
    height: 2rem;
    background-color: green;
    border-radius: 50%;
   
}
.card-black{
    width: 2rem;
    height: 2rem;
    background-color:black;
    border-radius: 50%;
    
}
.card-red{
    width: 2rem;
    height: 2rem;
    background-color:red;
    border-radius: 50%;
}
.color-div{
    display: flex;
    gap:5px;
}
.card-btn{
    width: 18rem;
    height: 3rem;
    border: none;
    background-color: rgb(241, 235, 225);
    margin-top: 2rem;
}
.card-btn:hover{
    background-color: green;
    transition: .3s;
    color: white;

}

/* card css end here */

/* next page css start here */

.next-page ul li{
    border: 1px solid black;
    display: inline-block;
    height: 2rem;
    width: 3rem;
    text-align: center;
  font-weight: bold;

}
.next-page ul li:hover{
    background-color: green;
    transition: .3s;
}
/* next page css end here */
/* footer css start  */
.footer{
    background-color:rgb(22, 66, 60);
}
.footer-sub p{
    display: inline;
}
.subscribes {
    height: 2.4rem;
    width: 6rem;
    display: inline-block;
    border: 1px solid white;
    margin-top: 0px;
    background-color: white;
    color: black;
    padding: 20px 0;
    line-height: 0px;
    text-align: center;
}
.subscribes:hover{
    background-color: green;
    color: white;
    transition: .3s;
}
/* footer css end  */





/* registration ccs start  */

.regi-form-design{
    display: inline-block;
    padding: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    width: 35rem;
}
.regi-form{
    text-align: center;
}
.registration{
    
    box-shadow: 1px 1px 10px black;
    width: 50rem;
    height: 30rem;
    margin: auto;
}

/* registration ccs end */


/* prfile css start  */
.profiles-img img{
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    border: 2px solid black;
    /* transform: scale(0); */
   
}
.profiles-img img:hover{
    transform: scale(1.2);
    transition: .3s;
}
.profiles-icon{
    font-size: 2rem;
    margin-left: 30px;
}
.profile-div{
    height: 100vh;
}


/* prfile css end */
/* Rseposnive css start */

@media (max-width: 992px){

    .flex-space-around{
        flex-direction: column;
        gap: 1rem;
        padding: 1rem;
    }
    
    .banner{
        height: 130vh;
    }
    .banner-item{
        gap: 3rem;
    }


    .registration{
    
        box-shadow: 1px 1px 10px black;
        width: 40rem;
        height: 40rem;
        margin: auto;
    }

}


@media (max-width: 768px){
    .banner{
        height: 130vh;
    }
    .banner-item{
        gap: 3rem;
    }

}


@media (max-width: 600px){
    .banner{
        height: 130vh;
    }
    .banner-item{
        gap: 3rem;
    }

}


@media (max-width: 480px){
    .banner{
        height: 130vh;
    }
    .banner-item{
        gap: 4rem;
    }

}





/* Rseposnive css End  */